$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.login-box {
  margin: 0 auto;
  text-align: center;
}

.submit-button {
  margin: 5px;
}

.game-board {
  margin: 0 auto;
  width: 600px;
  height: 800px;
  clear: left;
}

h1 {
  clear: left;
  }

.game-cell {
  float: left;
  height: 200px;
  width: 200px;
}

.btn {
  color: #000000;
  background-color: #DCDCDC;
  border: none;
}
.cell {
  width: 90%;
  height: 90%;
  border: 1px solid;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 100px;

}
.hidden {
  display: none;
}
img {
  height: 100%;
  margin: 0;
  width: 100%;
}

.game-message{
  text-align: center;
}

.jumbotron{
  color: #DCDCDC;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  background-image: url('../images/lightsabers-clash.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.no-margin {
  margin-bottom: -20px
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}
