$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game {
  margin: 0 auto;
  width: 600px;
  height: 800px;
  clear: left;
}
h1 {
  clear: left;
  }
div div {
  width: 200px;
  height: 200px;
  float: left;
}
.cell {
  width: 90%;
  height: 90%;
  outline: 1px solid;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 60px
}
.hidden {
  visibility: hidden;
}
