$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.login-box {
  margin: 0 auto;
  text-align: center;
}

.submit-button {
  margin: 5px;
}

h1 {
  clear: left;
  }

.cell {
  height: 100%;
  outline: none;
  width: 100%;
}

.hidden {
  display: none;
}

img {
  height: 100%;
  margin: 0;
  width: 100%;
}

.game-message{
  margin: 10px;
  text-align: center;
}

.neg-margin-top {
  margin-top: -10px;
}

.jumbotron{
  color: #DCDCDC;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  background-image: url('../images/lightsabers-clash.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.control {
  margin: 10px
}

.cell:hover {
  border: 2px solid #000000;
  border-radius: 10px;
}
.winner {
  border: 5px solid #35ba2a;
  border-radius: 10px;
}
